// Colours

$background-primary: rgb(5,41,98);
$background-primary-modifier: rgb(246,246,246);
$background-primary-modifier-enhanced: rgb(104, 102, 102);


$text-modifier: rgb(255,229,0);
$text-alternate : rgb(126, 123, 123)
